<div class="col-xs-12">
    <h2> Mes appareils</h2>
    <p>La date d'aujourd'hui :{{ (lastUpdate$ | async) | date:"medium"}} </p>
    <ul class="list-group">
        <app-appareil *ngFor="let app of appareils ; let i=index"
        [appareilIndex]="i"
         [appareilName]="app.name"
        [appreilStatus]="app.status">
        </app-appareil>
    </ul>
    <br><br>
    <button class="btn btn-success" (click)="onAllumer()">Tout Allummer</button><span>\m/------\m/ </span>
    <button class="btn btn-danger" (click)="onEteindre()">Tout Eteindre</button>
</div>